html, body { 
    background: url(../pics/paradise.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Happy Monkey', Arial, Verdana, sans-serif, cursive;
    height: 100%;
}

h1 {
    font-size: 70px;
    color: #444444;
    text-shadow: -1px -1px 1px #000, 3px 3px 3px #AAA;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

h2 {
	font-size: 30px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

.navbar-custom {
    color: #000;
    background-color: #CFFFA1;
    margin: 50px 0 50px 0;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

/* <-------login & signup form settings---------->*/

.close {
  font-size: 50px;
  font-weight: bold;
  margin-right: 30px;
  
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.inner-bg {
    padding: 10px 0 80px 0;
}

.top-content {
	background: url(../pics/bg.jpg) repeat; 
	opacity: 0.92;
    filter: alpha(opacity=92); /* For IE8 and earlier */
	margin: 100px;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

div.loginmsg {
    color: #4EB00E;
    text-shadow: 2px 2px 0 #000;
    font-size: 30px;
    margin-top: 20px;
}

.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #f3f3f3;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #ddd;
}


input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #90C75D;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; color: #fff; }


/* <-------map settings---------->*/

#map-canvas {
	height: 60%;
    width: 60%;
    margin: 150px auto;
    background-color: #FFF;
    -moz-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    -webkit-box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
    box-shadow: 0 0 5px 10px rgba(25,25,25,0.1);
}

/* <-------Infowindow settings---------->*/
#infocontainer {
    position: relative;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: "Happy Monkey", "Arial", sans-serif;
}

#htmlbox {
    width: 300px;
    height: 100px;
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 11px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	-moz-box-shadow:1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
	-webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
	box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	word-break:break-all;
}

#textbox {
    width: 300px;
    height: 100px;
    display: none;
    margin-top: 10px;
    padding: 10px;
    font-family: "Happy Monkey", "Arial", sans-serif;
    font-size: 11px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	-moz-box-shadow:1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
	-webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
	box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#editBtn,
#saveBtn,
#deleteBtn {
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 3px;
    font-family: "Happy Monkey", "Arial", sans-serif;
    font-size: 11px;
    color: #FFF;
	-moz-box-shadow: 0 0 4px 0 #777;
	-webkit-box-shadow: 0 0 4px 0 #777;
	box-shadow: 0 0 4px 0 #777;
    -webkit-border-radius: 10px;  
    -moz-border-radius: 10px;  
    border-radius: 10px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #263966), color-stop(1, #79bbff) );
	background: -webkit-linear-gradient(top, #263966 5%, #79bbff 100%);
	background:-moz-linear-gradient( center top, #263966 5%, #79bbff 100% );
	background: -o-linear-gradient(top, #263966 5%, #79bbff 100%);
	background: linear-gradient(#263966 5%, #79bbff 100%);
}

#imgWrapper {
    margin-top: 200px;
    margin-left: 400px;
}